# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo

# =========================
# .NET
# =========================
bin/
obj/

# =========================
# Angular
# =========================
node_modules/
dist/
.angular/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment / secrets
# =========================
.env
appsettings.Development.json

# =========================
# OS
# =========================
.DS_Store
Thumbs.db